.nav-bar{
    background-color: rgba(204, 184, 224, 0.589);
    color: whitesmoke;
    padding: 25px;
    
}
.nav-style{
    font-size: larger;
    font-family:monospace ;
    padding: 20px;
    text-decoration: none;
    
}

.nav-style:hover{
    background-color: lavender;
    color: navy;
    border: 1px solid rgb(129, 73, 218);
    border-radius: 3px;
    
}